*{
    font-family:Arial, Helvetica, sans-serif;
       
}
#header{
    white-space: nowrap;
    overflow-x: auto;
    font-weight: bold;
    font-size: 110%;
    margin-left: 150px;
}
.but{
    display: inline-block;
    width: 80px;
    position:relative;
    left: 1000px;
    top: -35px;
}
a{
    text-decoration:none;
 }
a:visited{
    text-decoration: none;
    color: black;
}
hr.solid{
    margin-bottom: 30px;
}
#intro{
    margin-left: 150px;
    margin-top: 100px;
}
.yj{
    font-weight: bold;
    font-size: 250%;
}
.in{
    font-size: 110%;
    line-height: 1.5;
}
#projects{
    margin-left: 150px;
    margin-top: 300px;
    font-weight: bold;
    font-size: 200%;
}
#projects{
   
}
img{
    width: 40%;
    height: 35%;
    border: 1px solid;
    border-color: grey;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.5;
    transition: 0.3s;
}
img:hover{
    opacity: 1;
}
